* {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-decoration: none;
    color: black;
}
.container {
    margin: 0 7.625rem;
}
ul {
    list-style: none;
}
/* --------------- HEADER ---------------*/
.header {
    background-color: #0B2362;
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.header-logo-link {
    justify-content: center;
    align-items: center;
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
    margin-left: 7.75rem;
    margin-right: 3.5rem;
    padding: 0.5rem;
}
.header-nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav-menu ul li a {
    text-decoration: none;
    color: #3963CD;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.65;
    padding: 20px 0.5rem;
    margin: 0 0.5rem;
}
.header-nav-menu ul li a:hover {
    color: white;
    border-bottom: 4px solid #3963CD;
}
.header-nav-menu ul li a:active {
    color: #3963CD;
}
.header-nav-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.125rem;
}
.header-nav-button-size {
    padding: 0.25rem 1rem;
    margin: 0 0.5rem;
}
.nav-button-request:hover {
    background: #3657ab;
}
.header-nav-button:active {
    transform: translateY(2px);
}
.nav-button-signin span:hover {
    color: white;
}
.header-nav-button span {   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.65;
}
.nav-button-request span {
    color: white;
}
.nav-button-request {
    background: #3963CD;
    border-radius: 1.75rem;
    border: none;
    cursor: pointer;
}
.nav-button-signin {
    background-image: url('./img/sign-in.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.65;
}
.nav-button-signin span {
    padding: 0 0.25rem;
    color: #3963CD;
}

/* --------------- SECTION-MAIN ---------------*/
.main {
    background: linear-gradient(180deg, #0B2362 0%, #6E49D5 100%);
    display: flex;
    justify-content: flex-end;
}
.main-content {
    padding: 9.125rem 0 13rem 0;
    max-width: 650px;
    position: absolute;
    left: 0;
    top: 4rem;
    right: 0;
    bottom: 0;
}
.main img {
    margin-top: 4rem;
}
.main h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    color: #FFFFFF;
    margin: 1.7rem 0;
}
.main h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2;
    color: #FFFFFF;
    max-width: 522px;
    margin-bottom: 3rem;
}
.main-content button:hover {
    background: #395fbf;
}
.main-content button:active {
    transform: translateY(2px);
}
.main-content button span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2;
    color: #FFFFFF;
    padding: 0.5rem 2rem;
}
.main-content button {
    background: #3963CD;
    border-radius: 1.875rem;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
}

/* --------------- SECTION-BENEFIT ---------------*/
.section-benefit {
    background-color: #F4F7FE;
    background-image: url('./img/vector.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 85% top 15%;
}
.section-benefit h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: #3963CD;
    padding-bottom: 1.375rem;
}
.section-benefit p {
    max-width: 1000px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #131313;
}
.section-benefit-content {
    padding: 3.25rem 0;
}

/* --------------- SECTION-FUNCTIONS ---------------*/
.section-functions-content {
    margin: 4.125rem 0 7.375rem 0;
}
.section-functions-content h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    color: #3963CD;
    margin-bottom: 6.25rem;
}
.section-functions-content p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #131313;
}
.section-functions ul {
    list-style: none;
}
.functions-content-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 5rem;
}
.section-functions ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 400px;
    margin-bottom: 3.125rem;
}
.section-functions ul li p {
    padding-left: 0.75rem;
}

/* --------------- SECTION-CONNECT ---------------*/
.section-connect {
    background: linear-gradient(180deg, #3963CD 0%, #0B2362 100%);
}
.section-connect-content {
    padding: 4.375rem 0 5rem 0;
}
.section-connect h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    color: #FFFFFF;
}
.section-connect ul li h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #FFFFFF;
}
.section-connect ul li img {
    padding-bottom: 2.375rem;
}
.section-connect ul li h3 {
    padding-bottom: 0.5rem;
}
.section-connect ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-connect ul li p, .section-connect ul li p span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #FFFFFF;
    max-width: 300px;
}
.connect-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.375rem;
}
.underline-text {
    text-decoration-line: underline;
    text-decoration-color: white;
}
.connect-content-button-size {
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
}

/* --------------- SECTION-SERVICE ---------------*/
.section-service {
    background-color: #F4F7FE;
    padding: 4rem 0 8.375rem 0;
}
.section-service h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    color: #3963CD;
    margin-bottom: 3.5rem;
}
.service-content-button-size {
    padding: 1.35rem 6rem;
    margin: 0 auto;
    display: block;
}
.service-content-button-size span {
    font-size: 1.5rem;
    line-height: 1;
}

.service-content h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #515151;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.service-content p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.7;
    color: #333333;
    padding-bottom: 0.625rem;
}
.service-content a {
    background-image: url('./img/Vector\ 2.2.svg');
    background-repeat: no-repeat;
    background-position: left 90% top 20%;
    font-size: 0.875rem;
    line-height: 3.5;
    color: #949494;
    padding-right: 1.75rem;
    margin: 1.75rem 0;
    float: inline-end;
}
.cards-container {
    margin-right: 2rem;
    margin-left: 2rem;
}
.service-content a:hover {
    color: #3963CD;
}
.service-content ul li {
    background-color: #FFFFFF;
}
.card-links {
    position: absolute;
    bottom: 0;
    border-top: 2px solid #EFEFEF;   
}
.service-content ul {
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards-logo-background {
    width: 24rem;
    background: linear-gradient(180deg, #0B2362 0%, #6E49D5 100%), #3963CD;;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.service-cards {
    max-width: 385px;
    width: 100%;
    height: 32rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    position: relative;
}

/* --------------- FOOTER ---------------*/
.footer {
    background: #0B2362;
}
.footer-nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img {
    padding: 0.75rem 0.5rem;
    margin: 1.25rem 0;
}
.footer select option, .footer select {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    color: #3963CD;
}
.footer select {
    background: none;
    border: none;
    padding: 0 0.5rem;
}
.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer ul li {
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}
.footer ul li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #3963CD;
}
.footer-nav-menu ul li a:active {
    color: white;
}
.footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.35;
    color: #3963CD;
}
.nav-menu-lang {
    display: flex;
    align-items: center;
    justify-content: center;
}